<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ "Edit" if notice else "Create" }}</title>
  </head>
  <body>
    <h1>{{ "Edit" notice.title if notice else "Create Notice" }}</h1>
    <form
      action="{{url_for('notices_bp.update_notice,id=notice.id') if notice else url_for('notices_bp.create_notice')}}"
      method="post"
    >
      <label>Title:</label>
      <input
        type="text"
        name="title"
        value="{{notice.title if notice else '' }}"
        required
      />
      <br /><br />
      <label>Content:</label>
      <textarea name="content" rows="5" required>{{ notice.content if notice else '' }}</textarea>
    <br><br>
    <button type="submit">{{ "Update" if notice else "Create" }}</button>
    <a href="{{ url_for('notices_bp.index') }}"><button type="button">Cancel</button></a>
    </form>
  </body>
</html>
